/* Styling for rows */
.row {
  display: flex;
  justify-content: center;
}

/* Styling for individual columns aka grid squares */
.column {
  width: 125px;
  height: 0;
  padding-bottom: 60px;
  border: 3px solid black;
  display: flex;
  align-items: left;
  justify-content: center;
  font-size: 50px;
}

/* Vertical line styling for grid squares */
.vertical-line {
  border-right: 0.5px solid black;
}

/* Horizontal line styling for grid squares */
.horizontal-line {
  border-bottom: 0.5px solid black;
}

/* Styling for main grid container */
#grid {
  margin-top: 100px;
  text-align: center;
  font-size: 0;
}

/* Styling for rows in grid */
#grid .row {
  border-bottom: 0.1px; /* Specifies border style */
}

/* Styling for 'X' player */
.X {
  color: blue;
}

/* Styling for 'O' player */
.O {
  color: red;
}

/* Styling for the reset button */
#resetButton {
  background-color: yellow;
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-family: fantasy;
}

/* Styling for main heading h1 */
h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 75px;
}

/* Styling for subheadings h2 */
h2 {
  text-align: center;
  margin: 10px;
  padding: 40px;
}

/* Styling for the body */
body {
  font-family: fantasy;
  /* Background gradient */
  /* background: linear-gradient(135deg, #6a1b9a, #e1bee7, #b0bec5); */
  background: linear-gradient(135deg, #6a1b9a, #f5f5f5, #b0bec5);
}

/* Styling for the Container section */
#Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: row;
  font-family: fantasy;
}

/* Styling for the player options section */
#playerOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  font-family: fantasy;
}

/* Styling for active player option button */
#playerOptions button.active {
  background-color: yellow;

  transition: background-color 0.1s ease-in-out;
}
