.row {
  display: flex;
  justify-content: center;
}

.column {
  width: 125px;
  height: 0;
  padding-bottom: 75px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  /* cursor: pointer; */
}

.vertical-line {
  border-right: 0.5px solid black;
}

.horizontal-line {
  border-bottom: 0.5px solid black;
}

#grid {
  margin-top: 100px;
  text-align: center;
  font-size: 0;
}

#grid .row {
  border-bottom: 2px solid #2d51d3;
}
